*{
box-sizing: border-box;
margin: 0;
line-height: 1.8em;
padding: 0;
margin: 0;
}
.pig-1,.pig-2,.pig-3{
position: relative; 
background-repeat: no-repeat;
background-size: cover;
background-size: cover;
background-attachment: fixed;


}
.pig-1{
   background-image: url(images/image1.png);
    height: 100vh;
}
.main-tag{
top: 50%;
position: absolute;
 width: 100%;
text-align: center;
}
.one-tag{
    padding: 20px;
    font-size:27px ;
    text-transform: uppercase;
    color: white;
    background-color: black;
    letter-spacing: 20px;
}
.section-light{
    color: black;
    background-color: #f4f4f4;
    text-align: center;
    
}
 .section-light h1 {
    padding: 20px 80px;

}
.section-light p{
font-size: 25px;
    padding: 20px 80px;
    letter-spacing: 1px;
}
.pig-2{
    background-image: url(images/image2.png);
    min-height: 400px;
}
.second-tag{
color: white;
position: absolute;
width: 100%;
font-size:27px;
text-transform: uppercase;
text-align: center;
letter-spacing: 10px;
top:60%;
}
.second-text{
  background-color: black;  
padding: 20px;

}
.section-dark{
color: white;
background-color:black;
padding: 50px 80px;
}
.pig-3{
   background-image: url(images/image3.png);
    height: 700px;
}
.forest-main{
    position:absolute;
    font-size:27px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 15px;
    top:50% ;




}
.inside-forest{
    background-color: black;
    padding: 30px ;
}
