*{
margin: 0;
padding: 0;
height: 100%;
line-height: 1.8em;
}
.pig-1{
   position: relative; 
   background-repeat: no-repeat;
   background-size: cover;
background-position: center;

}
.pig-1{
    background-image: url(images/image1.png);
    min-height: 100%;
}
.main-tag{
    width: 100%;
text-align: center;
}
.one-tag{
    
}